
on post-fs-data
    setprop ril.muxreport 0
    mkdir /dev/radio 0770 radio radio
    mkdir /data/nvram/md 0770 root system
    mkdir /data/ccci_cfg 0770 system radio
    mkdir /data/mdlog 0775 shell system
    chown radio radio /sys/kernel/ccci/boot
    chown radio radio /sys/class/BOOT/BOOT/boot/md
    chown radio radio /dev/ccci_fs
    chown radio radio /dev/ccci_ioctl0
    chown radio radio /dev/ccci_ioctl1
    chown radio radio /dev/ccci_monitor
    chown radio radio /dev/ttyC0
    chown media audio /dev/ccci_aud
    restorecon /data/ccci_cfg

service ccci_fsd /vendor/bin/ccci_fsd 0
    class main
    user radio
    group radio system
    oneshot

service ccci_mdinit /vendor/bin/ccci_mdinit 0
    class main
    user root
    group radio system
    disabled
    oneshot

on property:service.nvram_init=Ready
    start ccci_mdinit

service gsm0710muxd /vendor/bin/m5c-muxd.sh
    class main
    user root
    group radio cache inet misc
    disabled
    oneshot

service muxreport-daemon /vendor/bin/muxreport
    class main
    user radio
    group radio cache inet misc
    disabled
    oneshot

service terservice /vendor/bin/terservice
    class main
    user radio
    group radio system inet
    disabled
    oneshot

on property:mtk.md1.status=init_done
    chown radio radio /dev/ttyC0
    start terservice
    start gsm0710muxd
    start ril-daemon-mtk

on property:mtk.md1.status=ready
    chown radio radio /dev/ttyC0
    start terservice
    start gsm0710muxd
    start ril-daemon-mtk

on property:ril.muxreport=1
    start muxreport-daemon

service ril-daemon-mtk /vendor/bin/hw/rild
    class main
    socket rild stream 660 root radio
    socket rild2 stream 660 root radio
    socket rild3 stream 660 root radio
    socket rild4 stream 660 root radio
    socket rild-ims stream 660 root radio
    socket rild-debug stream 660 radio system
    socket rild-oem stream 660 radio system
    socket rild-mtk-ut stream 660 radio net_bt
    socket rild-mtk-ut-2 stream 660 radio net_bt
    socket rild-mtk-modem stream 660 radio system
    socket rild-atci stream 660 root radio
    socket rild-mal stream 660 radio system
    socket rild-mal-at stream 660 radio system
    socket rild-vsim stream 660 root radio
    socket sap_uim_socket1 stream 660 bluetooth bluetooth
    user root
    group radio cache inet misc audio sdcard_r sdcard_rw log system
    disabled
    oneshot
