
service wmtLoader /vendor/bin/wmt_loader
    class core
    user root
    group root system
    oneshot

service conn_launcher /vendor/bin/6620_launcher -p /system/etc/firmware/
    class core
    user system
    group system
